#u156
{
	background-color: transparent;
}

#u154
{
	display: block;
}

#u164-6
{
	background-color: transparent;
	line-height: 23px;
	font-size: 18px;
	text-align: right;
	color: #FFFFFF;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
}

#u169
{
	background-color: #FFFFFF;
}

#u258-7
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
}

#u258-2,#u258-4
{
	text-align: center;
	line-height: 20px;
}


