/*

*/

.version.print_po /* version checker */
{
	color: #00000F;
	background-color: #4EB325;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1080px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u2526
{
	z-index: 2;
	width: 982px;
	background-color: #FFFFFF;
	position: relative;
	padding: 40px 48px 63.480000000000246px 50px;
}

#pu1826
{
	width: 0.01px;
}

#u1826
{
	z-index: 7;
	width: 262px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1824
{
	z-index: 8;
	display: block;
}

#u1843-6
{
	z-index: 9;
	width: 541px;
	min-height: 44px;
	background-color: transparent;
	line-height: 25px;
	font-size: 19px;
	text-align: right;
	color: #000012;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 439px;
}

#pu1850-6
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: -6px;
}

#u1850-6
{
	z-index: 15;
	width: 476px;
	min-height: 87px;
	background-color: transparent;
	line-height: 39px;
	font-size: 30px;
	text-align: left;
	color: #D60D00;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u1846-10
{
	z-index: 135;
	width: 573px;
	min-height: 57px;
	background-color: transparent;
	line-height: 20px;
	font-size: 14px;
	text-align: right;
	color: #0C0100;
	font-family: '__ThaiSans Neue_5';
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	left: 406px;
}

#pu1853-4
{
	width: 0.01px;
	margin-left: 710px;
	margin-top: 46px;
}

#u1853-4
{
	z-index: 75;
	width: 126px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: right;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1859-4
{
	z-index: 107;
	width: 144px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: right;
	color: #000D00;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#pu1865-4
{
	width: 0.01px;
	margin-left: 710px;
	margin-top: 4px;
}

#u1865-4
{
	z-index: 91;
	width: 126px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: right;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1862-4
{
	z-index: 119;
	width: 144px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: right;
	color: #000D00;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#pu1898-4
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 2px;
}

#u1898-4
{
	z-index: 87;
	width: 231px;
	min-height: 24px;
	background-color: transparent;
	line-height: 21px;
	font-size: 16px;
	text-align: left;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1871-4
{
	z-index: 99;
	width: 126px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: right;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 702px;
}

#u1901-4
{
	z-index: 115;
	width: 248px;
	min-height: 24px;
	background-color: transparent;
	line-height: 21px;
	font-size: 16px;
	text-align: left;
	color: #000D00;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 221px;
}

#u1868-4
{
	z-index: 127;
	width: 144px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: right;
	color: #000D00;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 828px;
}

#pu1874-4
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 36px;
}

#u1874-4
{
	z-index: 21;
	width: 268px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: left;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1916-4
{
	z-index: 79;
	width: 175px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: right;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 653px;
}

#u1937-4
{
	z-index: 83;
	width: 76px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: right;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 894px;
}

#u1919-4
{
	z-index: 111;
	width: 43px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: center;
	color: #000D00;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 881px;
}

#pu1880-8
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 4px;
}

#u1880-8
{
	z-index: 67;
	width: 469px;
	min-height: 62px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: left;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#pu1922-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 590px;
}

#u1922-4
{
	z-index: 95;
	width: 175px;
	min-height: 20px;
	background-color: transparent;
	line-height: 17px;
	font-size: 13px;
	text-align: right;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	margin-left: 63px;
	position: relative;
}

#u1928-4
{
	z-index: 103;
	width: 238px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: right;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	margin-top: 11px;
	position: relative;
}

#pu1925-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 866px;
}

#u1925-4
{
	z-index: 123;
	width: 85px;
	min-height: 20px;
	background-color: transparent;
	line-height: 17px;
	font-size: 13px;
	text-align: right;
	color: #000D00;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	margin-left: 18px;
	position: relative;
}

#u1931-4
{
	z-index: 131;
	width: 103px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: right;
	color: #000D00;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#pu1949-6
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 13px;
}

#u1949-6
{
	z-index: 25;
	width: 71px;
	min-height: 50px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: center;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
}

#u1964-6
{
	z-index: 31;
	width: 71px;
	min-height: 50px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: center;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 102px;
}

#u1970-6
{
	z-index: 37;
	width: 71px;
	min-height: 50px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: center;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 392px;
}

#u1976-6
{
	z-index: 43;
	width: 125px;
	min-height: 50px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: left;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 848px;
}

#u2815
{
	z-index: 198;
	width: 975px;
	height: 74px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u2818
{
	z-index: 199;
	width: 975px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-left: 5px;
	position: relative;
}

#u2821
{
	z-index: 200;
	width: 109px;
	height: 457px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -76px;
	left: 85px;
}

#u2836
{
	z-index: 201;
	width: 533px;
	height: 457px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -76px;
	left: 195px;
}

#u2845
{
	z-index: 206;
	width: 244px;
	height: 602px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -146px;
	position: relative;
	margin-right: -10000px;
	margin-top: -76px;
	left: 729px;
}

#ppu2293-4
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: -1px;
}

#pu2293-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
}

#u2293-4
{
	z-index: 172;
	width: 474px;
	min-height: 28px;
	background-color: transparent;
	line-height: 21px;
	font-size: 16px;
	text-align: left;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	margin-left: 1px;
	position: relative;
}

#pu2791
{
	width: 0.01px;
	margin-top: 20px;
}

#u2791
{
	z-index: 177;
	width: 24px;
	height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2284-4
{
	z-index: 168;
	width: 438px;
	min-height: 24px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: left;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 37px;
}

#pu2287
{
	width: 0.01px;
	margin-top: 12px;
}

#u2287
{
	z-index: 176;
	width: 24px;
	height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2288-4
{
	z-index: 178;
	width: 438px;
	min-height: 24px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: left;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 37px;
}

#pu2299-4
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: -4px;
}

#u2299-4
{
	z-index: 190;
	width: 82px;
	min-height: 24px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: left;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2305-4
{
	z-index: 194;
	width: 82px;
	min-height: 24px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: left;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 214px;
}

#u2242-6
{
	z-index: 49;
	width: 134px;
	min-height: 35px;
	background-color: transparent;
	line-height: 16px;
	font-size: 12px;
	text-align: right;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 558px;
}

#u2266-6
{
	z-index: 55;
	width: 134px;
	min-height: 35px;
	background-color: transparent;
	line-height: 16px;
	font-size: 12px;
	text-align: right;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 558px;
}

#u2275-6
{
	z-index: 61;
	width: 134px;
	min-height: 35px;
	background-color: transparent;
	line-height: 16px;
	font-size: 12px;
	text-align: right;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	left: 562px;
}

#u2749
{
	z-index: 145;
	width: 1px;
	height: 145px;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#u2824
{
	z-index: 202;
	width: 480px;
	height: 47px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#u2827
{
	z-index: 203;
	width: 480px;
	height: 47px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 495px;
}

#u2830
{
	z-index: 204;
	width: 480px;
	height: 47px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	left: 495px;
}

#u2833
{
	z-index: 205;
	width: 225px;
	height: 145px;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

.ie #u2833
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2308-4
{
	z-index: 186;
	width: 438px;
	min-height: 24px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: left;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	margin-left: 42px;
	margin-top: 7px;
	position: relative;
}

#u2317-4
{
	z-index: 182;
	width: 438px;
	min-height: 24px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: left;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	margin-left: 42px;
	margin-top: 23px;
	position: relative;
}

#u2323-4
{
	z-index: 3;
	width: 445px;
	min-height: 24px;
	background-color: transparent;
	line-height: 18px;
	font-size: 14px;
	text-align: left;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	margin-left: 5px;
	margin-top: 22px;
	position: relative;
}

#u2335-8
{
	z-index: 152;
	width: 478px;
	min-height: 84px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	margin-left: 500px;
	margin-top: 42px;
	position: relative;
}

#pu2329-6
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 82px;
}

#u2329-6
{
	z-index: 146;
	width: 475px;
	min-height: 82px;
	background-color: transparent;
	line-height: 28px;
	font-size: 14px;
	text-align: left;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u2338-8
{
	z-index: 160;
	width: 478px;
	min-height: 84px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#u2335-2,#u2338-2
{
	font-size: 18px;
	line-height: 36px;
}

#u2335-4,#u2335-6,#u2338-4,#u2338-6
{
	line-height: 21px;
}

.html
{
	background-color: #7F7F7F;
}

body
{
	position: relative;
	min-width: 1080px;
}

@font-face
{
	font-family: '__ThaiSans Neue_5';
	src: url('../fonts/thaisansneue-bold-webfont.eot');
	src: local('☺'), url('../fonts/thaisansneue-bold-webfont.woff') format('woff'), url('../fonts/thaisansneue-bold-webfont.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__ThaiSans Neue_5';
	src: url('../fonts/thaisansneue-semibold-webfont.eot');
	src: local('☺'), url('../fonts/thaisansneue-semibold-webfont.woff') format('woff'), url('../fonts/thaisansneue-semibold-webfont.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face
{
	font-family: '__ThaiSans Neue_5';
	src: url('../fonts/thaisansneue-regular-webfont.eot');
	src: local('☺'), url('../fonts/thaisansneue-regular-webfont.woff') format('woff'), url('../fonts/thaisansneue-regular-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

