/*

*/

.version.print_mo /* version checker */
{
	color: #000014;
	background-color: #7AE40D;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1080px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u4140
{
	z-index: 2;
	width: 1009px;
	background-color: #FFFFFF;
	position: relative;
	padding: 20px 31px 83px 40px;
}

#pu4151
{
	width: 0.01px;
}

#u4151
{
	z-index: 3;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4152
{
	z-index: 4;
	display: block;
}

#u4105-6
{
	z-index: 7;
	width: 200px;
	min-height: 24px;
	background-color: transparent;
	line-height: 14px;
	font-size: 11px;
	text-align: right;
	color: #000012;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 260px;
}

#u4525
{
	z-index: 5;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u4526
{
	z-index: 6;
	display: block;
}

#u4564-6
{
	z-index: 13;
	width: 200px;
	min-height: 24px;
	background-color: transparent;
	line-height: 14px;
	font-size: 11px;
	text-align: right;
	color: #000012;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 800px;
}

#pu4116-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 1px;
}

#u4116-4
{
	z-index: 19;
	width: 141px;
	min-height: 29px;
	background-color: transparent;
	line-height: 20px;
	font-size: 15px;
	text-align: left;
	color: #D60D00;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u4110-10
{
	z-index: 157;
	width: 207px;
	min-height: 46px;
	background-color: transparent;
	line-height: 10px;
	font-size: 7px;
	text-align: right;
	color: #0C0100;
	font-family: '__ThaiSans Neue_5';
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 252px;
}

#u4534-4
{
	z-index: 23;
	width: 141px;
	min-height: 29px;
	background-color: transparent;
	line-height: 20px;
	font-size: 15px;
	text-align: left;
	color: #D60D00;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u4567-10
{
	z-index: 167;
	width: 207px;
	min-height: 46px;
	background-color: transparent;
	line-height: 10px;
	font-size: 7px;
	text-align: right;
	color: #0C0100;
	font-family: '__ThaiSans Neue_5';
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 792px;
}

#pu4106-4
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 12px;
}

#u4106-4
{
	z-index: 27;
	width: 164px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: left;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u4123-4
{
	z-index: 83;
	width: 126px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: right;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 273px;
}

#u4130-4
{
	z-index: 115;
	width: 51px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: right;
	color: #000D00;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 401px;
}

#u4540-4
{
	z-index: 31;
	width: 164px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: left;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u4573-4
{
	z-index: 87;
	width: 126px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: right;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 813px;
}

#u4591-4
{
	z-index: 119;
	width: 51px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: right;
	color: #000D00;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 941px;
}

#pu4112-8
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 4px;
}

#u4112-8
{
	z-index: 67;
	width: 193px;
	min-height: 33px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: left;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#pu4142-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 273px;
}

#u4142-4
{
	z-index: 99;
	width: 126px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: right;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
}

#u4154-4
{
	z-index: 107;
	width: 126px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: right;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	margin-top: 4px;
	position: relative;
}

#pu4136-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 401px;
}

#u4136-4
{
	z-index: 123;
	width: 51px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: right;
	color: #000D00;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
}

#u4147-4
{
	z-index: 131;
	width: 51px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: right;
	color: #000D00;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	margin-top: 4px;
	position: relative;
}

#u4537-8
{
	z-index: 75;
	width: 193px;
	min-height: 33px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: left;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#pu4570-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 813px;
}

#u4570-4
{
	z-index: 103;
	width: 126px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: right;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
}

#u4576-4
{
	z-index: 111;
	width: 126px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: right;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	margin-top: 4px;
	position: relative;
}

#pu4588-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 941px;
}

#u4588-4
{
	z-index: 127;
	width: 51px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: right;
	color: #000D00;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
}

#u4594-4
{
	z-index: 135;
	width: 51px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: right;
	color: #000D00;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	margin-top: 4px;
	position: relative;
}

#pu4133-4
{
	width: 0.01px;
	margin-left: 327px;
	margin-top: -5px;
}

#u4133-4
{
	z-index: 91;
	width: 80px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: right;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u4228-4
{
	z-index: 139;
	width: 51px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: right;
	color: #000D00;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 82px;
}

#u4579-4
{
	z-index: 95;
	width: 80px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: right;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 540px;
}

#u4597-4
{
	z-index: 143;
	width: 51px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: right;
	color: #000D00;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 622px;
}

#ppu4543-4
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 16px;
}

#pu4543-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 540px;
}

#u4543-4
{
	z-index: 39;
	width: 50px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: center;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u4552-4
{
	z-index: 47;
	width: 50px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: center;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 67px;
}

#u4561-4
{
	z-index: 55;
	width: 50px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: center;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 213px;
}

#u4585-4
{
	z-index: 63;
	width: 50px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: center;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 385px;
}

#u4555
{
	z-index: 148;
	width: 454px;
	height: 23px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4549
{
	z-index: 150;
	width: 49px;
	height: 340px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4546
{
	z-index: 152;
	width: 83px;
	height: 340px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u4558
{
	z-index: 154;
	width: 225px;
	height: 340px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 134px;
}

#u4582
{
	z-index: 156;
	width: 94px;
	height: 340px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 360px;
}

#u4122-4
{
	z-index: 35;
	width: 50px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: center;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u4234-4
{
	z-index: 43;
	width: 50px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: center;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 67px;
}

#u4237-4
{
	z-index: 51;
	width: 50px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: center;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 213px;
}

#u4243-4
{
	z-index: 59;
	width: 50px;
	min-height: 10px;
	background-color: transparent;
	line-height: 9px;
	font-size: 7px;
	text-align: center;
	color: #000000;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 385px;
}

#u4137
{
	z-index: 147;
	width: 454px;
	height: 23px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4249
{
	z-index: 149;
	width: 49px;
	height: 340px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u4255
{
	z-index: 151;
	width: 83px;
	height: 340px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 50px;
}

#u4258
{
	z-index: 153;
	width: 225px;
	height: 340px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 134px;
}

#u4261
{
	z-index: 155;
	width: 94px;
	height: 340px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 360px;
}

#pu4128-6
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 88px;
}

#u4128-6
{
	z-index: 177;
	width: 196px;
	min-height: 48px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u4267-6
{
	z-index: 189;
	width: 196px;
	min-height: 48px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 239px;
}

#u5498-6
{
	z-index: 183;
	width: 196px;
	min-height: 48px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 569px;
}

#u5495-6
{
	z-index: 195;
	width: 196px;
	min-height: 48px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 809px;
}

#u4128-2,#u4267-2,#u5498-2,#u5495-2
{
	font-size: 10px;
	line-height: 20px;
}

#u4128-4,#u4267-4,#u5498-4,#u5495-4
{
	font-size: 7px;
	line-height: 11px;
}

.html
{
	background-color: #7F7F7F;
}

body
{
	position: relative;
	min-width: 1080px;
}

@font-face
{
	font-family: '__ThaiSans Neue_5';
	src: url('../fonts/thaisansneue-bold-webfont.eot');
	src: local('☺'), url('../fonts/thaisansneue-bold-webfont.woff') format('woff'), url('../fonts/thaisansneue-bold-webfont.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__ThaiSans Neue_5';
	src: url('../fonts/thaisansneue-semibold-webfont.eot');
	src: local('☺'), url('../fonts/thaisansneue-semibold-webfont.woff') format('woff'), url('../fonts/thaisansneue-semibold-webfont.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face
{
	font-family: '__ThaiSans Neue_5';
	src: url('../fonts/thaisansneue-regular-webfont.eot');
	src: local('☺'), url('../fonts/thaisansneue-regular-webfont.woff') format('woff'), url('../fonts/thaisansneue-regular-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

