/*

*/

.version.print_po /* version checker */
{
	color: #000007;
	background-color: #7A0132;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1080px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u2526
{
	z-index: 2;
	width: 980px;
	background-color: #FFFFFF;
	position: relative;
	padding: 40px 50px 93.48000000000025px;
}

#u1826
{
	z-index: 7;
	width: 262px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1824
{
	z-index: 8;
	display: block;
}

#u1843-6
{
	z-index: 9;
	width: 541px;
	min-height: 44px;
	background-color: transparent;
	color: #000012;
	font-size: 19px;
	text-align: right;
	line-height: 25px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 439px;
}

#pu1850-6
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: -6px;
}

#u1850-6
{
	z-index: 23;
	width: 476px;
	min-height: 87px;
	background-color: transparent;
	color: #D60D00;
	font-size: 30px;
	text-align: left;
	line-height: 39px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u1846-10
{
	z-index: 143;
	width: 573px;
	min-height: 57px;
	background-color: transparent;
	color: #0C0100;
	font-size: 14px;
	text-align: right;
	line-height: 20px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	left: 406px;
}

#pu1853-4
{
	width: 0.01px;
	margin-left: 710px;
	margin-top: 46px;
}

#u1853-4
{
	z-index: 83;
	width: 126px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: right;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1859-4
{
	z-index: 115;
	width: 144px;
	min-height: 20px;
	background-color: transparent;
	color: #000D00;
	font-size: 14px;
	text-align: right;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#pu1865-4
{
	width: 0.01px;
	margin-left: 710px;
	margin-top: 4px;
}

#u1865-4
{
	z-index: 99;
	width: 126px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: right;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1862-4
{
	z-index: 127;
	width: 144px;
	min-height: 20px;
	background-color: transparent;
	color: #000D00;
	font-size: 14px;
	text-align: right;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#pu1898-4
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 2px;
}

#u1898-4
{
	z-index: 95;
	width: 231px;
	min-height: 24px;
	background-color: transparent;
	font-size: 16px;
	text-align: left;
	line-height: 21px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1871-4
{
	z-index: 107;
	width: 126px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: right;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 702px;
}

#u1901-4
{
	z-index: 123;
	width: 248px;
	min-height: 24px;
	background-color: transparent;
	color: #000D00;
	font-size: 16px;
	text-align: left;
	line-height: 21px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 221px;
}

#u1868-4
{
	z-index: 135;
	width: 144px;
	min-height: 20px;
	background-color: transparent;
	color: #000D00;
	font-size: 14px;
	text-align: right;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 828px;
}

#pu1874-4
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 36px;
}

#u1874-4
{
	z-index: 29;
	width: 268px;
	min-height: 20px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	text-align: left;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1916-4
{
	z-index: 87;
	width: 175px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: right;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 653px;
}

#u1937-4
{
	z-index: 91;
	width: 76px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: right;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 894px;
}

#u1919-4
{
	z-index: 119;
	width: 43px;
	min-height: 20px;
	background-color: transparent;
	color: #000D00;
	font-size: 14px;
	text-align: center;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 881px;
}

#pu1880-8
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 4px;
}

#u1880-8
{
	z-index: 75;
	width: 469px;
	min-height: 62px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	text-align: left;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#pu1922-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 590px;
}

#u1922-4
{
	z-index: 103;
	width: 175px;
	min-height: 20px;
	background-color: transparent;
	font-size: 13px;
	text-align: right;
	line-height: 17px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	margin-left: 63px;
	position: relative;
}

#u1928-4
{
	z-index: 111;
	width: 238px;
	min-height: 20px;
	background-color: transparent;
	font-size: 14px;
	text-align: right;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	margin-top: 11px;
	position: relative;
}

#pu1925-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 770px;
}

#u1925-4
{
	z-index: 131;
	width: 185px;
	min-height: 20px;
	background-color: transparent;
	color: #000D00;
	font-size: 13px;
	text-align: right;
	line-height: 17px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	margin-left: 18px;
	position: relative;
}

#u1931-4
{
	z-index: 139;
	width: 204px;
	min-height: 20px;
	background-color: transparent;
	color: #000D00;
	font-size: 14px;
	text-align: right;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	margin-top: 13px;
	position: relative;
}

#pu2815
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 13px;
}

#u2815
{
	z-index: 15;
	width: 74px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 6px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1949-6
{
	z-index: 33;
	width: 71px;
	min-height: 50px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	text-align: center;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 1px;
}

#u5513
{
	z-index: 17;
	width: 108px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 6px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 75px;
}

#u1964-6
{
	z-index: 39;
	width: 71px;
	min-height: 50px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	text-align: center;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 18px;
}

#u5516
{
	z-index: 19;
	width: 545px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 6px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 184px;
}

#u1970-6
{
	z-index: 45;
	width: 71px;
	min-height: 50px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	text-align: center;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 227px;
}

#u2845
{
	z-index: 21;
	width: 244px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 6px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 730px;
}

#u1976-6
{
	z-index: 51;
	width: 125px;
	min-height: 50px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	text-align: right;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 103px;
}

#u5546
{
	z-index: 16;
	width: 74px;
	height: 382px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u5543
{
	z-index: 18;
	width: 108px;
	height: 382px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 75px;
}

#u5540
{
	z-index: 20;
	width: 545px;
	height: 382px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 184px;
}

#u5537
{
	z-index: 22;
	width: 244px;
	height: 382px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 730px;
}

#u2242-6
{
	z-index: 57;
	width: 134px;
	min-height: 35px;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	text-align: right;
	line-height: 16px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 558px;
}

#u2824
{
	z-index: 205;
	width: 234px;
	height: 47px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#u5528
{
	z-index: 206;
	width: 244px;
	height: 47px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 730px;
}

#u5552
{
	z-index: 207;
	width: 494px;
	height: 47px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#pu5546,#pu2242-6,#ppu2293-4
{
	width: 0.01px;
	margin-left: 5px;
}

#pu2293-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 32px;
}

#u2293-4
{
	z-index: 179;
	width: 474px;
	min-height: 28px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	text-align: left;
	line-height: 21px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	margin-left: 1px;
	position: relative;
}

#pu2791
{
	width: 0.01px;
	margin-top: 20px;
}

#u2791
{
	z-index: 184;
	width: 24px;
	height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2284-4
{
	z-index: 175;
	width: 438px;
	min-height: 24px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	text-align: left;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 37px;
}

#ppu2266-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 495px;
}

#u2266-6
{
	z-index: 63;
	width: 134px;
	min-height: 35px;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	text-align: right;
	line-height: 16px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 63px;
}

#u2827
{
	z-index: 208;
	width: 234px;
	height: 47px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u5531
{
	z-index: 209;
	width: 244px;
	height: 47px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 235px;
}

#pu1826,#pu2266-6,#pu2275-6
{
	width: 0.01px;
}

#u2275-6
{
	z-index: 69;
	width: 134px;
	min-height: 35px;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	text-align: right;
	line-height: 16px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 68px;
}

#u2830
{
	z-index: 210;
	width: 234px;
	height: 47px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u5534
{
	z-index: 211;
	width: 244px;
	height: 47px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 235px;
}

#pu2287
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 12px;
}

#u2287
{
	z-index: 183;
	width: 24px;
	height: 24px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2288-4
{
	z-index: 185;
	width: 438px;
	min-height: 24px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	text-align: left;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 37px;
}

#pu2299-4
{
	width: 0.01px;
	margin-left: 42px;
	margin-top: -4px;
}

#u2299-4
{
	z-index: 197;
	width: 82px;
	min-height: 24px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	text-align: left;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2305-4
{
	z-index: 201;
	width: 82px;
	min-height: 24px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	text-align: left;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 214px;
}

#u2308-4
{
	z-index: 193;
	width: 438px;
	min-height: 24px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	text-align: left;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	margin-left: 42px;
	margin-top: 7px;
	position: relative;
}

#ppu2317-4
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 15px;
}

#pu2317-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
}

#u2317-4
{
	z-index: 189;
	width: 438px;
	min-height: 24px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	text-align: left;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	margin-left: 37px;
	position: relative;
}

#u2323-4
{
	z-index: 3;
	width: 445px;
	min-height: 24px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	text-align: left;
	line-height: 18px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	margin-top: 23px;
	position: relative;
}

#u2335-8
{
	z-index: 159;
	width: 478px;
	min-height: 84px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#pu2329-6
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 112px;
}

#u2329-6
{
	z-index: 153;
	width: 475px;
	min-height: 82px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	text-align: left;
	line-height: 28px;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u2338-8
{
	z-index: 167;
	width: 478px;
	min-height: 84px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: '__ThaiSans Neue_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#u2335-2,#u2338-2
{
	font-size: 18px;
	line-height: 36px;
}

#u2335-4,#u2335-6,#u2338-4,#u2338-6
{
	line-height: 21px;
}

.html
{
	background-color: #7F7F7F;
}

body
{
	position: relative;
	min-width: 1080px;
}

@font-face
{
	font-family: '__ThaiSans Neue_5';
	src: url('../fonts/thaisansneue-bold-webfont.eot');
	src: local('☺'), url('../fonts/thaisansneue-bold-webfont.woff') format('woff'), url('../fonts/thaisansneue-bold-webfont.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__ThaiSans Neue_5';
	src: url('../fonts/thaisansneue-regular-webfont.eot');
	src: local('☺'), url('../fonts/thaisansneue-regular-webfont.woff') format('woff'), url('../fonts/thaisansneue-regular-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__ThaiSans Neue_5';
	src: url('../fonts/thaisansneue-semibold-webfont.eot');
	src: local('☺'), url('../fonts/thaisansneue-semibold-webfont.woff') format('woff'), url('../fonts/thaisansneue-semibold-webfont.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

